* {
  box-sizing: border-box;
}

}
body {
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-family: PT Sans Regular;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}
h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Bold;
  text-transform: uppercase;
}
h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans Bold;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #000000;
}
.decor {
  flex-direction: column;
  background-image: url(../img/background_photo.jpg);
  background-position: 50% 21%;
}
.decor img:first-child {
  margin: 75px auto 22px auto;
}
.main_heading p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  width: 1200px;
  display: flex;
}
nav {
  width: 1200px;
  display: flex;
}
section {
  width: 1200px;
  display: flex;
}
article {
  width: 1200px;
  display: flex;
}
footer {
  width: 1200px;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
form {
  display: flex;
}
input {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
label {
  display: flex;
}
ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.footer_index {
  background: rgba(255, 255, 255, 0, 8);
}
.footer_block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 400px;
}
.footer_block:first-child {
  font-size: 21px;
  line-height: 26px;
}
.footer_block:last-child {
  font-size: 14px;
  line-height: 26px;
}
.navigation-item {
  display: flex;
  width: 240px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;

}
.navigation-item:nth-child(2) {
  margin-right: 240px;
}
.logo {
  position: absolute;
  left: 46%;
  top: 0;
}
.main_heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main_heading h2 {
  padding: 42px 330px 0;
}
.main_heading p {
  padding-bottom: 35px;
}
.lightblue {
  background-color: #81b3d2;
  color: #ffffff;
}
.lightblue h2 {
  background-color: #81b3d2;
  color: #ffffff;
}
.lightgray {
  background-color: #eeeeee;
  color: #333333;
}
.avantages_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
.avantages_item h2 {
  padding: 0 110px;
}
.avantages_item p {
  padding: 0 32px;
}

.avantages_img {
  display: flex;
  width: 800px;
  margin-right: auto;
}
.features {
  display: flex;
  text-align: center;
}
.features_item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  color: #333333;
}
.features_item p {
  padding: 0 35px 70px;
}
.lightgray .avantages_item {
  padding: 26px 0 56px;
}
.search_for_hotels {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.search_for_hotels h3 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
  padding-top: 30px;
}
.search_for_hotels p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-top: 0px;
  padding: 0 350px 33px 350px;
}
.search_for_hotels a {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  border: 1px solid #766357;
  background: #766357;
  margin: 0px 316px 0px 316px;
  padding-top: 28px;
  padding-bottom: 28px;
}
.map {
  background-image: url("../img/map.jpg");
  padding-bottom: 452px;
}

.criteria {
  background-image: url("../img/hotel_filter_back.png");
  padding-bottom: 92px;
  }
.select_items {
  width: 264px;
}
.select_items:first-child {
  margin-left: 72px;
}
.select_items h2 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 12px;
  padding-right: 2px;
}
.select_items label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.cost {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 528px;
  margin-right: 72px;
  margin-left: 200px;
}
.cost h2 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  justify-content: center;
  align-items: center;;
  margin-top: 25px;
  color: #ffffff;
}
.cost input {
  margin-left: 20px;
  width: 300px;
}
.cost input[type="submit"] {
  width: 95px;
  margin-top: 10px;
  margin-left: 123px;
}
.sorting {
  border-bottom: 1px solid #e5e5e5;
}
.searching_results {
  display: flex;
  align-items: center;
  width: 165px;
  margin: 30px 0 30px 72px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
}
.sort {
  display: flex;
  align-items: center;
  width: 781px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.sort ul {
  margin: 0;
}
.sort li {
  display: flex;
  padding-left: 40px;
}
.scrolling {
  display: flex;
  width: 110px;
  margin-right: 72px;
}
.scrolling li {
  display: flex;
  margin: 0;
}
.hotel_block {
  border-bottom: 1px solid #e5e5e5;
}
.hotel_img {
  display: flex;
  align-items: center;
  width: 165px;
margin: 30px 0 30px 72px;
}
.hotel_descript {
  display: flex;
  flex-wrap: wrap;
  width: 781px;
  padding-top: 10px;
padding-bottom: 28px;
}
.hotel_descript h1 {
  width: 100%;
}
.distribution {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
.distribution span {
  color: #333333;
  padding-bottom: 8px;

}
.distribution a {
  color: #ffffff;
  padding: 2px 11px 2px 11px;
  margin-right: 6px;
  margin-bottom: 0px;
}
.more a {
  border: 1px solid #81b3d2;
  background: #81b3d2;
}
.book a {
  border: 1px solid #766357;
  background: #766357;
}
.rating {
  display: flex;
  flex-direction: column;
  width: 110px;
  margin-left: 0;
  margin-right: 72px;
}
.rating img {
padding-top: 25px;
}
.rating span {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  padding: 2px 7px 2px 7px;
  margin-top: 42px;
}
